<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Etiqueta global de sitio (gtag.js) de Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119438848-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119438848-2');
</script>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />
<br>
<br>
<br>
<br>
<br>
<div>
	<div class="hidden-xs " style="text-align: center; margin-top: 5vw;">
		<div class="sliderprograma">
		  <div class="slide_viewerp">
		    <div class="slide_group">
		      <div class="slide">
		      	<a target=""><%= image_tag(@banner, style: "width:100vw;") %> </a>
		      </div>
		    </div>
		  </div> 
		  <div class="slide_buttons">
		  </div>
	</div>
</div>

<div class="container"> 
<section class="products-grid" padding-top: 5px;">
				<% if not @error.blank? %>
					<br>
				      <h2 style="text-align: center; margin-top: 25px;"><%= @error %></h2>	      
				    <br>
				<% end %>
				<% if not @programas.blank? %>
					<div style="margin: 5vh 0px 50px;">
						<p class="letrasindex">PROGRAMAS</p>
					</div>
				<% end %>
				<div class="container">
					<div class="row products-container"> 
					<% @programas.each do |programa| %>
							<div class="col-md-4 col-sm-6 col-xs-12 curso-wrapper">
								<div class="curso-container">
									<%= link_to image_tag(programa.imagen, class: "curso-img"), "/detalle/#{programa.nombre}" %>
								</div>
							</div>
					 <% end %>
					</div><!-- /.row -->
				</div><!-- /.container -->
				<br><br>
				<% if not @cursos.blank? %>
					<div style="margin: 5vh 0px 50px;">
						<p class="letrasindex">CURSOS</p>
					</div>
				<% end %>
				<div class="container">
					<div class="row products-container"> 
					<% @cursos.each do |curso| %>
							<div class="col-md-4 col-sm-6 col-xs-12 curso-wrapper">
								<div class="curso-container">
									<%= link_to image_tag(curso.imagen, class: "curso-img"), "/detalle/#{curso.nombre}" %>
								</div>
							</div>
					 <% end %>
					</div><!-- /.row -->
				</div><!-- /.container -->
				<br><br>
				<% if not @conferencias.blank? %>
					<div style="margin: 5vh 0px 50px;">
						<p class="letrasindex">CONFERENCIAS</p>
					</div>
				<% end %>
				<div class="container">
					<div class="row products-container"> 
					<% @conferencias.each do |conferencia| %>
							<div class="col-md-4 col-sm-6 col-xs-12 curso-wrapper">
								<div class="curso-container">
									<%= link_to image_tag(conferencia.imagen, class: "curso-img"), "/detalle/#{conferencia.nombre}" %>
								</div>
							</div>
					 <% end %>
					</div><!-- /.row -->
				</div><!-- /.container -->
				<br><br>
			</section>
</div>
<%= javascript_include_tag "popupindex" %>
<%= stylesheet_link_tag 'popupindex'%> 
<%= javascript_include_tag "slideindex" %>
<%= stylesheet_link_tag 'slider'%>
<%= stylesheet_link_tag 'prospecto'%>