<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Etiqueta global de sitio (gtag.js) de Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119438848-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119438848-2');
</script>

<br>
<br>
<br>
<br>
<br>
<div class="bxslider"></div>
<div class="background-div">
         <BR>Conócenos<BR><BR>
</div>
<div class="container">
<br>
	<div id="block1">

		<p align="justify">

		El 4 de junio de 1982 nació en el campus Las Peñas de la Espol, la Oficina de Educación Continua con el objetivo de “propiciar una permanente actualización de los profesionales”, según dió a conocer en ese entonces su primer director, el Ing. Homero Ortiz. Desde entonces, valiosos politécnicos la han dirigido con decoro y aciertos hasta constituirla en lo que es hoy: <b>pionera y vanguardista en su género.</b> <br>
		</p>

		<p style="font-style: italic; font-weight: bold; font-size: 14px" id="boton1" onclick=vermas('uno','boton1')><span class="glyphicon glyphicon-chevron-down"></span> Ver m&aacutes </p>
		<div id="uno" style="display: none;">
			<p align="justify">	
			En 1992, se potenció a la "Oficina" de Educación Continua, al darle el carácter de "Centro". Así, el Centro de Educación Continua CEC - ESPOL, en su fructífera trayectoria, diseñó y dictó programas, cursos, seminarios, talleres, conferencias en todas las modalidades; fue la primera en dictar maestrías ejecutivas en el país, en ingresar en la virtualidad y presentar una entidad que inauguró con solvencia la tecnología de punta, la reingeniería de procesos, la inserción de calidad y la vinculación con los sectores productivos en una época finisecular cuya misión – visión se fortaleció y creció hacia estándares de innovación y creatividad en la última década.<br><br>

			En el 2004, el CEC amplía sus servicios basado en la autogestión, la articulación con la colectividad y los sectores productivos con el afán de brindar a la comunidad educativa una instrucción continuada de alta calidad e influir en el proceso de cambios, en búsqueda de la excelencia mediante el Buen Vivir.<br><br>

			El CEC hasta el 2011 dictó varias promociones de los diplomados en Administración Empresarial, Medio Ambiente, Auditoría Informática y Formulación y Gestión de Proyectos; introdujo el módulo de Emprendimiento e Innovación para todos sus estudiantes y trabajó en sociedad con diferentes unidades académicas de la ESPOL. <br><br>

			El CEC ha suscrito múltiples convenios con diferentes organismos públicos y privados; alianzas con la Asociación Ecuatoriana de Plásticos ASEPLAS y la Asociación Ecuatoriana de Software AESOFT; ha ejecutado programas de capacitación especializada, dirigidos a profesionales y trabajadores de Guayaquil y Quito. <br><br>

			Dentro de su planificación estratégica realizó un acuerdo académico para buscar potenciar el recurso humano; así en septiembre del 2009, convino con la Universidad Autónoma de Occidente, de Colombia, para la implantación del II Programa Internacional de Gestión del Capital Humano con base en competencias, que incluyó visitas a empresas colombianas en el hermano país.<br><br>

			Al año siguiente incursionó en la certificación de profesionales en Dirección de Proyectos, a través del <b>Capítulo Ecuador del Project Management Institute PMI</b>, con la invitación que le hizo su titular Enrique Ledesma y con quien se llegó a un acuerdo para la preparación de profesionales en Guayaquil previo a la obtención de la certificación Project Management Professional PMP, constituyéndose en pioneros en este ámbito.<br><br>

			El CEC organizó el II Encuentro Regional Recla Guayaquil 2012 bajo el lema <b>“Tendencias de la educación continua: una estrategia dinamizadora en Latinoamérica y Europa”.</b> Contó con la presencia de investigadores, delegados, directivos y docentes de centros educativos superiores de Perú, Colombia, España, Venezuela, Uruguay y Ecuador.<br><br>

			De la misma forma se concordó con el Ministerio de Industrias para la formación de funcionarios públicos en lo que después se denominaría <b>Compras Públicas</b>, aspecto que lideró y capacitó con responsabilidad.
			</p>
		</div>
	</div>
</div>

<div class="container">
								
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/assets/jquery.timelinr-0.9.6.js"></script>
	
	<script  >
		$(function(){
			$().timelinr({arrowKeys: 'true'})
		});		
	</script>
<!--</head>-->
<!--<body>-->

	<div id="timeline">
		<ul id="dates">
			<li><a href="#1982">1982</a></li>
			<li><a href="#1992">1992</a></li>
			<li><a href="#2004">2004</a></li>
			<li><a href="#2005">2005</a></li>
			<li><a href="#2008">2008</a></li>
			<li><a href="#2009">2009</a></li>
			<li><a href="#2010">2010</a></li>
			<li><a href="#2012">2012</a></li>
			<li><a href="#2013">2013</a></li>
			<li><a href="#2015">2015</a></li>
			<!--<li><a href="#2014">2014</a></li>-->
			<li><a href="#2016">2016</a></li>
			<li><a href="#2017">2017</a></li>
		</ul>
		<ul id="issues">
			<li id="1982" ">
				<%= image_tag('Conocenos/1982.jpg') %>
				<h1 style="align-items: center;">1982</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Nace en el campus Las Peñas de la Escuela Superior Politécnica del Litoral ESPOL, la oficina de Educación Continua; con el objetivo de <b>“propiciar una permanente actualización de los profesionales”</b>.</p>
			</li>
			<li id="1992" ">
				<%= image_tag('Conocenos/1992.jpg') %>
				<h1>1992</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">La oficina de Educación Continua se la potenció y se le dio carácter de “Centro”, a partir de esto se la llama <b>Centro de Educación Continua ESPOL</b>.</p>
			</li>
			<li id="2004" >
				<%= image_tag('Conocenos/2004.jpg') %>
				<h1>2004</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se cre&oacute; la fundaci&oacute;n Centro de Desarrollo de la Productividad CEDEP, un operador acreditado cuyo &uacute;nico objetivo era la capacitaci&oacute;n y que surgi&oacute; porque el antiguo Consejo Nacional de Capacitación y Formación CNCF (ahora llamada Secretar&iacute;a T&eacute;cnica de Capacitaci&oacute;n y Formaci&oacute;n Profesional SETEC), permitía a trav&eacute;s de concurso p&uacute;blico acceder a un porcentaje de recursos destinados para la capacitaci&oacute;n y formaci&oacute;n profesional.</p>
			</li>
			<li id="2005" >
				<%= image_tag('Conocenos/2005.jpg') %>
				<h1>2005</h1>
				<%= image_tag('Conocenos/Controles/visto.jpg', size:"20x20" ) %>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px; margin-left: 540px;">En el 2004, CEDEP realiza la implementación del Sistema de Gestión de Calidad y el 02 de Febrero del 2005 obtiene la certificación en ISO 9001:2000.</p>
				<%= image_tag('Conocenos/Controles/visto.jpg', size:"20x20") %>		
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">El 06 de Febrero del 2005 se llevó a cabo la inauguración de los primeros diplomados en el CEC - ESPOL.</p>
			</li>
			<li id="2008" >
				<%= image_tag('Conocenos/2008.jpg') %>
				<h1>2008</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">El 2 de febrero del 2008 se obtiene la recertificación del Sistema de Gestión de Calidad bajo la norma ISO 9001:2000.</p>		
			</li>
			<li id="2009" >
				<%= image_tag('Conocenos/2009.jpg') %>
				<h1>2009</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">El CEC - ESPOL, dentro de su planificación estratégica realizó un acuerdo académico para buscar potenciar el recurso humano; así en septiembre 2009, convino con la Universidad Autónoma de Occidente, de Colombia, para la implantación del <b> II Programa Internacional de Gestión del Capital Humano con base en competencias</b>, que incluyó visitas a empresas colombianas en el hermano país.</p>
			</li>
			<li id="2010" >
				<%= image_tag('Conocenos/2010.jpg') %>
				<h1>2010</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">El CEC - ESPOL incursionó en la calificación de profesionales en Dirección de Proyectos a través del <b>Capítulo Ecuador del Project Management Institute PMI</b>.</p>
			</li>
			
			<li id="2012" >
				<%= image_tag('Conocenos/2012.jpg') %>
				<h1>2012</h1>
				<%= image_tag('Conocenos/Controles/visto.jpg', size:"20x20" ) %>
				<p class ="des_timeline" style="font-size: 17px; line-height: 30px;">
				Se inicia el proyecto para la construcción del nuevo edificio del CEC - ESPOL en el campus Gustavo Galindo Velasco.</p>
				<%= image_tag('Conocenos/Controles/visto.jpg', size:"20x20" ) %>
				<p class ="des_timeline" style="font-size: 17px; line-height: 30px; margin-left: 540px;">
				CEC - ESPOL fue el anfitri&oacute;n en el II Encuentro Regional de Am&eacute;rica Latina RECLA 2012 bajo el lema <b>“Tendencias de la educación continua: una estrategia dinamizadora en Latinoamérica y Europa."</b></p>
			</li>
			<li id="2013" >
				<%= image_tag('Conocenos/2013.jpg') %>
				<h1>2013</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">El 11 de Octubre del 2013, CEC - ESPOL obtiene la recertificación del Sistema de Gestión de la Calidad bajo la norma ISO 9001:2008.</p>		
			</li>
			<li id="2015">
				<%= image_tag('Conocenos/2015.jpg') %>
				<h1>2015</h1>
				<%= image_tag('Conocenos/Controles/visto.jpg', size:"20x20" ) %>
				<p class ="des_timeline" style="font-size: 16px; line-height: 30px; margin-left: 540px;">
				El 30 de marzo, se premió a los participantes del proyecto <b>“Desafío ENES”</b>.</p>
				<%= image_tag('Conocenos/Controles/visto.jpg', size:"20x20" ) %>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">El 29 de Mayo CEC - ESPOL y Senescyt realizaron la entrega de certificados.</b></p>		
				<%= image_tag('Conocenos/Controles/visto.jpg', size:"20x20" ) %>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">En Septiembre, se realizó el lanzamiento de la <b>Escuela de Contratación Pública ECP.</b></p>	
			</li>
			<li id="2016" >
				<%= image_tag('Conocenos/2016.jpg') %>
				<h1>2016</h1>
				<%= image_tag('Conocenos/Controles/visto.jpg', size:"20x20") %>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px; margin-left: 540px;">El 09 de Noviembre del 2016, se inauguró el Primer Ciclo de Conferencias Gratuitas <b>"Nuevos Paradigmas"</b>, con el tema: "Diseñando un programa de TV aplicado a la señal abierta y online".</p>
				<%= image_tag('Conocenos/Controles/visto.jpg', size:"20x20") %>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">El 29 de Noviembre del 2016, se obtiene la recertificación del Sistema de Gestión de Calidad bajo la norma ISO 9001:2008.
			</li>
			<li id="2017" >
				<%= image_tag('Conocenos/2017.jpg') %>
				<h1>2017</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">El 21 de Junio se celebró los 35 años de vida institucional con la presencia de las autoridades de la Escuela Superior Politécnica del Litoral ESPOL, representantes de varias instituciones,  empresas del país y miembros de la comunidad politécnica,.</p>
			</li>
		</ul>
		<div id="grad_left"></div>
		<div id="grad_right"></div>
		<a href="#" id="next">+</a>
		<a href="#" id="prev" style="display: block;">-</a>
	</div>
						
</div><!-- /.container -->

<script type="text/javascript">
			function vermas(parrafo,boton){
				if(document.getElementById(parrafo).style.display=='block'){
					document.getElementById(parrafo).style.display='none';
					document.getElementById(boton).innerHTML='<p style="font-style: italic; font-weight: bold; font-size: 14px"><span class="glyphicon glyphicon-chevron-down"></span> Ver m&aacutes </p>';
				}else{
					document.getElementById(parrafo).style.display='block';
					document.getElementById(boton).innerHTML='<p style="font-style: italic; font-weight: bold; font-size: 14px"><span class="glyphicon glyphicon-chevron-up"></span>Ocultar';
				}
			}
		</script>