<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Etiqueta global de sitio (gtag.js) de Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119438848-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119438848-2');
</script>


<br>
<br>
<br>
<br>
<br>
<div class="background-div">
         <BR>Capacitaciones Corporativas<BR><BR>
</div>

<div class="container">
<br>
	<div id="block1">

		<h2>Diseño a la medida</h2>

		<p align="justify">

		En Educación Continua colaboramos estrechamente con nuestros clientes para crear experiencias de aprendizaje de alto impacto. Cualquiera que sea el reto que enfrente la organización, se intervendrá a distintos niveles para diseñar un "traje a la medida" que responda a las necesidades de capacitación especifícas. <br>
		</p>

		<p style="font-style: italic; font-weight: bold; font-size: 14px" id="boton1" onclick=vermas('uno','boton1')><span class="glyphicon glyphicon-chevron-down"></span> Ver m&aacutes </p>
		<div id="uno" style="display: none;">
			<p align="justify">	
			Las soluciones comprende desde la detección de las necesidades de capacitación, el diseño curricular, la creación de contenidos y los materiales de aprendizaje, creando así un programa único que refleja la cultura de la institución.<br><br>

			Los Programas Corporativos en Educación Continua de la ESPOL, contribuyen a que las organizaciones públicas y privadas logren sus objetivos estratégicos y alcancen sus resultados de negocio a través de la formación y desarrollo de talento en equipos.<br><br>

			El propósito es ser un socio académico-estratégico de las organizaciones. 
			</p>
		</div>
	</div>
</div>


<script type="text/javascript" src="assets/modernizr.custom.46884.js"></script>

<div class="container_efecto">
			<div class="wrapper">

		<ul id="sb-slider" class="sb-slider">
		<li class="div-img" >
			 <%= image_tag('Corporativa/JUN.jpg', class: 'img')%>
			  <div class="text" style="margin-left: 75px;";>
			  <p><b>1. Armada del Ecuador:</b> 
			    Secretariado y redacción<br>
				<b>2. Armada del Ecuador: </b> 
			    Secretariado y redacción<br>
				<b>3. Parque Nacional Galápagos: </b> 
			    Compras Públicas<br>
				<b>4. ISSFA: </b> Plan de Emergencias<br>
				<span class="fechaimg">Junio 2017</span></p>
		</li>
					<li>
						 <%= image_tag('Corporativa/c17.jpg') %>
						<div class="sb-description">
						  <p class="galeria"><b>Claro:</b> Curso de Excel Básico <br><span class="fecha">Septiembre 2016</span></p>
						</div>
					</li>	
					<li>
						 <%= image_tag('Corporativa/c16.jpg') %>
						<div class="sb-description">
						   <p class="galeria"><b>Petroamazonas EP:</b> Programa de Formación en Contratación Pública <br><span class="fecha">Agosto 2016</span></p>
						</div>
					</li>	
					<li class="div-img">
						 <%= image_tag('Corporativa/JUL.jpg',class: 'img') %>
						<div class="text">
						    <p><b>1. Etapa EP:</b> Administración de Contratos de Instituciones Públicas 
						       <b>2. Grupo Vilaseca:</b> Curso Excel Básico <br>
						    <span class="fechaimg" style="margin-left: 480px;";>Julio 2016</p>
						</div>
					</li>	
					
					<li>
						 <%= image_tag('Corporativa/MAY.jpg',class: 'img') %>
						<div class="text", style="margin-left: 75px;">
						  <p><b>1. Claro:</b> Excel Nivel Avanzado <br>
						  <b>2. Banco del Pacífico:</b> Curso Excel Básico <br><span class="fechaimg">Mayo 2016</span></p>
						</div>
					</li>		
				
					<li>
						 <%= image_tag('Corporativa/c11.jpg') %>
						<div class="sb-description">
						   <p class="galeria"><b>Claro:</b> Excel Aplicado a los Negocios Nivel Intermedio <br><span class="fecha">Abril 2016</span></p>
						</div>
					</li>
					<li>
						 <%= image_tag('Corporativa/c10.jpg') %>
						<div class="sb-description">
						   <p class="galeria"><b>Claro:</b> Excel Aplicado a los Negocios Nivel Intermedio <br><span class="fecha">Marzo 2016</span></p>
						</div>
					</li>
					<li class="div-img">
						 <%= image_tag('Corporativa/OCT.jpg', class: 'img') %>
					    <div class="text">
						 <p><b>1. IESS:</b> Estrategias de un buen servicio en el sector público <br>
						 <b>2. IESS:</b> Control y Administración de bienes en el sector público <br>
						 <b>3. Banco del Pacífico:</b> Curso Excel Intermedio <br>
						 <b>4. Claro:</b> Excel Nivel Intermedio <br>	
						 <span class="fechaimg", style="margin-left: 480px;";>Octubre 2015</span></p>
						</div>
					</li>
					
					<li class="div-img">
						 <%= image_tag('Corporativa/SEPT.jpg') %>
						<div class="text">
						   <p><b>1. Banco del Pacífico:</b> Finanzas para no financieros <br>
						   <b>2. Claro:</b> Curso Excel Avanzado <br>
						   <b>3. IESS:</b> Formación básica de Seguridad y Salud Ocupacional <br>
						   <b>4. Banco del Pacífico:</b> Curso Excel Avanzado <br>
						   	<span class="fechaimg", style="margin-left: 450px;";>Septiembre 2015</span></p>
						</div>
					</li>
			
					<li>
						 <%= image_tag('Corporativa/c1.jpg') %>
						<div class="sb-description">
							<p class="galeria"><b>IESS:</b> Curso Ofimática Básica <br><span class="fecha">Agosto 2015</span></p>
						</div>
					</li>
				</ul>
				<div id="shadow" class="shadow"></div>

				<div id="nav-arrows" class="nav-arrows">
					<a href="#">Next</a>
					<a href="#">Previous</a>
				</div>

				<div id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>

			</div><!-- /wrapper -->
	</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="assets/jquery.slicebox.js"></script>
		<script type="text/javascript">
			$(function() {

				var Page = (function() {

					var $navArrows = $( '#nav-arrows' ).hide(),
						$navDots = $( '#nav-dots' ).hide(),
						$nav = $navDots.children( 'span' ),
						$shadow = $( '#shadow' ).hide(),
						slicebox = $( '#sb-slider' ).slicebox( {
							onReady : function() {

								$navArrows.show();
								$navDots.show();
								$shadow.show();

							},
							onBeforeChange : function( pos ) {

								$nav.removeClass( 'nav-dot-current' );
								$nav.eq( pos ).addClass( 'nav-dot-current' );

							}
						} ),
						
						init = function() {

							initEvents();
							
						},
						initEvents = function() {

							// add navigation events
							$navArrows.children( ':first' ).on( 'click', function() {

								slicebox.next();
								return false;

							} );

							$navArrows.children( ':last' ).on( 'click', function() {
								
								slicebox.previous();
								return false;

							} );

							$nav.each( function( i ) {
							
								$( this ).on( 'click', function( event ) {
									
									var $dot = $( this );
									
									if( !slicebox.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );
									
									}
									
									slicebox.jump( i + 1 );
									return false;
								
								} );
								
							} );

						};

						return { init : init };

				})();

				Page.init();

			});
		</script>
		<script type="text/javascript">
			function vermas(parrafo,boton){
				if(document.getElementById(parrafo).style.display=='block'){
					document.getElementById(parrafo).style.display='none';
					document.getElementById(boton).innerHTML='<p style="font-style: italic; font-weight: bold; font-size: 14px"><span class="glyphicon glyphicon-chevron-down"></span> Ver m&aacutes </p>';
				}else{
					document.getElementById(parrafo).style.display='block';
					document.getElementById(boton).innerHTML='<p style="font-style: italic; font-weight: bold; font-size: 14px"><span class="glyphicon glyphicon-chevron-up"></span>Ocultar';
				}
			}
		</script>

</br>
</br>

