<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Etiqueta global de sitio (gtag.js) de Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119438848-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119438848-2');
</script>

<br>
<br>
<br>
<br>
<br>
<div>
	<div class="hidden-xs div_titulo"> 
		<div class="noticia_titulo">
			<b>NOTICIAS</b>
			<div  style="font-size: 22px;">
				<%= @tipo_noticia %>
			</div>
		</div>
	</div>
<% if not @error %>
<div class="container principal-container"> 
	<div class="container noticia-container">
		<!--div class="row noticia-searchBar-container">
			<div class="container noticia-searchFecha-container">
				<h5 class="noticia-searchBar-h5">Fecha:</h5>
				<input class="noticia-searchBar-input" type="date" name="fecha" placeholder="dd/mm/yyyy">
			</div>
			<div class="container noticia-searchNombre-container">
				<h5 class="noticia-searchBar-h5">Nombre:</h5>
				<input class="noticia-searchBar-input" type="text" name="nombre" placeholder="Nombre">
			</div>
			<div class="container noticia-searchVolumen-container">
				<h5 class="noticia-searchBar-h5">Volumen:</h5>
				<input class="noticia-searchBar-input" type="text" name="volumen" placeholder="Volumen">
			</div>
			<button class="btn noticia-searchBar-btn" type="submit">
				Buscar
			</button>
		</div-->
		<div class="row noticia-fechaHeader-container">
			<h2 class="noticia-fecha-h2"><%= l @mes_actual.to_s.to_date , format: :corto %></h2>
		</div>
		<div class="row noticia-body-container">
			<div class="row noticia-body-tipo-container">
				<h1 class="info-noticia" ><b><%= @tipo_noticia %></b></h1>
				<% if @tipo_noticia=="INFO EC" %>
					<h3 class="info-slogan"><i>El que hacer de Educación Continua en la comunidad</i></h3>
				<% else %>
					<h3 class="info-slogan"><i>Innovación e investigación aplicada de ESPOL al servicio de la comunidad</i></h3>
				<% end %>
			</div>
			<div class="row noticia-volumen-container">
				<h4 class="volumen">Vol. N° <%= @noticia.edicion %></h4>
				<h4 class="fecha-volumen"><%= l @noticia.publicacion.to_s.to_date , format: :largo %></h4>
			</div>

			
			<div class="row noticia-row-container">	
				<div class="noticia-izq-global-container">
					<% if @noticia.articulo.count >= 1 %>
						<% @articulo = @noticia.articulo[0] %>
						<div class="container noticia-top-container">
							<h4 class="noticia-titulo-h4"><%= @articulo.titulo %></h4>
							<%= image_tag(@articulo.imagen, class: "noticia-img")  %>
							<p style="text-align: justify;"><%= truncate(@articulo.contenido, separator: /\s/, :ommision => "... Read More", :length => 158)%></p> 
								<button class="noticia-vermas-btn"><%= link_to 'Ver Más', "/noticias/articulo/#{@articulo.id}" %></button>
						</div>
					<% end %>
					<% if @noticia.articulo.count >= 2 %>
						<% @articulo = @noticia.articulo[1] %>
						<div class="container noticia-bottom-container">
							<h4 class="noticia-titulo-h4"><%= @articulo.titulo %></h4>
							<%= image_tag(@articulo.imagen, class: "noticia-img")  %>
							<p style="text-align: justify;"><%= truncate(@articulo.contenido, separator: /\s/, :ommision => "... Read More", :length => 158)%></p>
							<button class="noticia-vermas-btn"><%= link_to 'Ver Más', "/noticias/articulo/#{@articulo.id}" %></button>
						</div>
					<% end %>
				</div>

				<div class="noticia-der-global-container">
					<% if @noticia.articulo.count >= 3 %>
						<% @articulo = @noticia.articulo[2] %>
						<div class="container noticia-top-container">
							<h4 class="noticia-titulo-h4"><%= @articulo.titulo %></h4>
							<%= image_tag(@articulo.imagen, class: "noticia-img")  %>
							<p style="text-align: justify;"><%= truncate(@articulo.contenido, separator: /\s/, :ommision => "... Read More", :length => 158)%></p>
							<button class="noticia-vermas-btn"><%= link_to 'Ver Más', "/noticias/articulo/#{@articulo.id}" %></button>
						</div>
					<% end %>
					<% if @noticia.articulo.count >= 4 %>
						<% @articulo = @noticia.articulo[3] %>
						<div class="container noticia-bottom-container">
							<h4 class="noticia-titulo-h4"><%= @articulo.titulo %></h4>
							<%= image_tag(@articulo.imagen, class: "noticia-img")  %>
							<p style="text-align: justify;"><%= truncate(@articulo.contenido, separator: /\s/, :ommision => "... Read More", :length => 158)%></p>
							<button class="noticia-vermas-btn"><%= link_to 'Ver Más', "/noticias/articulo/#{@articulo.id}" %></button>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="container social-container">
		<div class="container banner-container">
			<%= image_tag("Noticia/banner-noticias.gif") %>
		</div>
		<div class="container tweeter-container">
			<a class="twitter-timeline" data-width="100%" data-height="578" data-theme="light" data-link-color="#641177" href="https://twitter.com/econtinuaespol?ref_src=twsrc%5Etfw"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>
<% else %>
	<div style="margin-top: 30px;"></div>
<% end %>

<%= stylesheet_link_tag 'noticias.css'%> 
